{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="nav">
		<center>
			<h2>Todo Application</h2>
		</center>
	</div>
	<br>
	{% block content %}
	<section>
		{% if not todos %}
		<center>
			<pre>No Todos Found</pre>
		</center>
		{% endif %}
	</section>
	<section>
		<center>
			<h2> Your Todos</h2>

		{% for todo in todos%}
		<form method="POST" action="{% url 'delete' todo.id %}">

		{% csrf_token %}

		<li>{{ todo.todo}} 
			{% if todo.is_complete %}
				<pre>Completed</pre>
			{% else %}
			<pre>  NOT Completed</pre>
			{% endif %}
		</li>
		
		<input type="submit" value="Delete"name="delete">
		<input type="submit" value="Mark as complete"name="complete">
		<input type="submit" value="Update"name="update">
		</form>
			
		{% endfor %}
	</center>
	</section>
	<section>
		<center>
			<form action="{% url 'index' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="todo">
				<input type="submit" name="submit" value="submit">
				
			</form>
		</center>
	</section>
	{% endblock %}
</body>
</html>